
.wrapper{

	margin-left: 300px;
	margin-right: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #558399;
}
h1{

	text-align: center;

}
.form{

	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;

}
.form input{
	padding-left: 5px;
	width: 685px;
	margin-top: 5px;
	margin-bottom: 15px;
	height: 25px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	
}
select{
	padding-left: 5px;
	width: 689px;
	margin-top: 5px;
	margin-bottom: 15px;
	height: 28px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	
}
.cancel input{
	padding-left: 5spx;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 90px;
	height: 25px;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 4px;
	

}