ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000ff;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #6a5acd;
}
 .text{
 	text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
   	text-align: center;
    opacity: 0.5;
}