*{margin: 0; padding: 10px; }
header{
  background: #d22d2d;
  overflow: auto;
  padding: 10px;
  font-size: 25px;
  color: white;

}
header.appname{

font-size: 50px;

}
nav{
	background:	#808080;
}
div.background{
	background: #ffe6e6;
}
ul{
	list-style: none;
}
nav li{
	display: inline;
	font-size: 25px;	
}
nav li a{
	color: white;
}
form.search{
	padding: 20px;
}
form.search label{
	width:10%;
	float: left;

}
form.search select{
	width: 60%;
	
}
form.search_district{
	padding: 20px;
}
form.search_district label{
	width:10%;
	float: left;

}
form.search_district select{
	width: 60%;
	
}
table{
	width: 100%;
	border-collapse: collapse;

}
table th,td{
	border: 1px solid black;
}
table td{
	height: 20px;
}
table th{
	height: 30px;
	font-size: 20px;
}